﻿@model List<PhotoModel>



<link href="~/css/RateContestPhotos.css" rel="stylesheet" />

<div>
    <partial name="NavBarUpdated" />

</div>


<div class="container" style="border-bottom:solid; text-align:center; width:800px; position:relative; left:0px; top:30px;">
    <header class="accordion-header mb-1" style="font-size:xx-large; color:lightsteelblue"><i>Check our newest Contests</i></header>
</div>
<br />

<div class="container">

    <div class="col-12">

        <form asp-controller="HomeSignIn" asp-action="RateContest" method="post">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-6" style="padding-bottom:4em"></div>
                    <a href="@item.PhotoLink" data-toggle="lightbox" data-gallery="example-gallery">
                        <img src="@item.PhotoLink" class="img-thumbnail" style="height:700px; width:900px; position:relative; left:94px">
                    </a>

                    <div class="card" style="width:900px;height:150px; left:105px; top:15px;">
                        <div class="form-group" style="width:60px; position:relative; left:20px;">
                            <label for="exampleFormControlSelect1" style="color:cadetblue; width:100px;">Select Score</label>
                            <select class="form-control bg-light" name="@item.Name" id="exampleFormControlSelect1">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>


                        <div class="form-check" style="position:relative; left:30px;">
                            <label for="exampleFormControlSelect1" style="color:cadetblue; width:400px;">Doesn't Belong in the Category</label>
                            <input class="form-check-input" type="checkbox" name="@item.Name" value="0" id="flexCheckDefault">
                        </div>

                        <div class="form-group" style="width:400px; position:relative; top:-110px; left:400px; z-index:999">
                            <label for="exampleFormControlTextarea1" style="color:cadetblue;">Comment</label>
                            <textarea class="form-control" name="@item.Name com" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                    </div>




                }
                <br />

            </div>
            <button class="btn btn-outline-primary" type="submit" style="position:relative; top:40px; left:90px;">
                Submit
            </button>
        </form>
    </div>
</div>

<br />
<br />
<br />

<script src="~/js/ContestRatePhotos.js"></script>


