﻿@model List<WebApplication1.Models.CardsModels.UserCardModel>
@inject Microsoft.AspNetCore.Identity.SignInManager<PhotoContest.Data.Models.User> Signinmanager
@inject Microsoft.AspNetCore.Identity.UserManager<PhotoContest.Data.Models.User> UserManger

@if (Signinmanager.IsSignedIn(User))
{
    <div>
        <partial name="NavBarUpdated" />
    </div>
}
@if (!Signinmanager.IsSignedIn(User))
{
<div>
    <partial name="NavBar" />
</div>



}

<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">PhotoContest</h1>
                <p class="lead text-muted mb-0">We are a team of aspiring young contest organizers.</p>
                <br />
                <p>

                    <strong>Contests Scoring:</strong> Contests Scoring:
                    <br />
                    3rd place – 20 points (10 points if shared 3rd)
                    <br />
                    2nd place – 35 points (25 points if shared 2nd)
                    <br />
                    1st place – 50 points (40 points if shared 1st)

                </p>
                <p style="position:relative; left:560px; top:-122px;">
                    <strong>User Ranking:</strong>
                    <br />
                    (0-50) points – Junkie
                    <br />
                    (51 – 150) points – Enthusiast
                    <br />
                    (151 – 1000) points – Master (can now be invited as jury)
                    <br />
                    (1001 – infinity) points – Wise and Benevolent Photo Dictator (can still be jury)
                </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>
<br />
<div>
    <body>
        <section id="contact">
            <div class="container">
                <h3 class="text-center text-uppercase">contact us</h3>
                <p class="text-center w-75 m-auto">If you have any questions about our services, feel free to mail, phone or come to one of our offices.</p>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                        <div class="card border-0">
                            <div class="card-body text-center">
                                <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                                <h4 class="text-uppercase mb-5">call us</h4>
                                <p>
                                    0888771122
                                    <br />
                                    <br />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                        <div class="card border-0">
                            <div class="card-body text-center">
                                <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                                <h4 class="text-uppercase mb-5">office location</h4>
                                <address>Tieckstraße 12, Berlin, Germany</address>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                        <div class="card border-0">
                            <div class="card-body text-center">
                                <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                                <h4 class="text-uppercase mb-5">office location</h4>
                                <address>blv.Vitoshka 11, Sofia, Bulgaria</address>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                        <div class="card border-0">
                            <div class="card-body text-center">
                                <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                                <h4 class="text-uppercase mb-5">email</h4>
                                <p>
                                    photocontest@gmail.com
                                    <br />
                                    <br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    </body>
</div>
<div class="bg-light py-5">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our team</h2>
                <p class="font-italic text-muted">Meet our cool Team.</p>
            </div>
        </div>

        <div class="row text-center">
            <!-- Team item-->
            @foreach (var item in Model)
            {
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4" style="opacity:0.9">
                        <img src="@item.ProfileLink" alt="" width="150" height="100" class="img-fluid avatar-xxl rounded-3 mb-3 shadow-sm">
                        <h5 class="mb-0">@item.UserName</h5><span class="small text-uppercase text-muted">Organizer</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
