﻿
    <div>
        <partial name="NavBarUpdated" />

    </div>
<br />

<div>
    <h1>
        Your API key is:
        <br />
    </h1>
    <h2>
        @ViewData["apikey"].ToString()
    </h2>
</div>
