﻿@model X.PagedList.IPagedList<ContestCardModel>
@using X.PagedList.Mvc.Core
@using X.PagedList


<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link href="~/css/ContestsstableAdmin.css" rel="stylesheet" />
<br />

<div>
    <partial name="NavBarUpdated" />

</div>

<br />

<hr>
<div class="container bootstrap snippets bootdey">
    <br />
    <a class="btn btn-outline-info" style="position:relative; top:10px; left:400px" asp-controller="Admin" asp-action="CreateContest">Create new Contests</a>

    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th style="position:relative; left:30px;"><span>Contests</span></th>
                                    <th ><span>Start date</span></th>
                                    <th style="position:relative; left:50px;"><span>End date</span></th>
                                    <th class="text-center"><span>Phase</span></th>

                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="@item.Profile" style="height:60px; width:60px;" alt="">
                                            <a asp-controller="Admin" asp-action="ContestsInside" asp-route-id="@item.Name" class="user-link">@item.Name</a>
                                            <span class="user-subhead">@item.AdminName</span>
                                        </td>
                                        <td>@item.StartDate.ToString()</td>
                                        <td class="text-center">
                                            <span>@item.EndDate.ToString()</span>
                                        </td>
                                       
                                        <td>
                                            @{
                                                if (item.Phase == 3)
                                                {

                                                    <span class="label" style="position:relative; left:45px;">Closed</span>
                                                }
                                                else if (item.Phase == 1)
                                                {
                                                    <span class="label" style="position:relative; left:45px;">Phase 1</span>
                                                }
                                                else if (item.Phase == 2)
                                                {
                                                    <span class="label" style="position:relative; left:45px;">Phase 2</span>
                                                }
                                            }
                                        </td>
                                        <td style="width: 20%;">
                                            <a class="table-link text-info user-links" asp-action="ContestsInside" asp-controller="Admin" asp-route-id="@item.Name" class">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                           
                                            <a asp-action="DeleteContest" asp-controller="Admin" asp-route-id="@item.Name" class="table-link danger">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="position:absolute; top:430px; left:100px;">
    @using (Html.BeginForm("ManageContest", "Admin"))
    {
        <div class="card" style="height:300px; width:180px; border:none; height:auto; position:relative; top:-135px;">
            <table class="table-borderless rounded-3">
                <tr><td></td></tr>
                <tr>
                    <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                        <i> Categories</i>
                    </th>
                </tr>

                @{
                    foreach (var item in (List<PhotoContest.Data.Models.Category>)ViewData["catname"])
                    {

                        <tr>
                            <th scope="row" style="position:relative; left:20px; top:10px;">@item.Name</th>

                            <td>

                                <div style="z-index:1000;">
                                    <input class="form-check-input z-index-sticky"
                                           type="radio"
                                           name="radioNoLabel"
                                           id="radioNoLabel1"
                                           value="@item.Name"
                                           aria-label="..." style="z-index:1000; color:grey; opacity:0.5; background-color:lightblue; border:unset" />
                                </div>

                            </td>

                        </tr>
                    }
                }
                <tr>
                    <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                        <i>  Phases</i>
                    </th>
                </tr>
                <tr>
                    <th scope="row" style="position:relative; left:20px; top:10px;">Phase 1</th>

                    <td>
                        <div class="form-check" style="position:relative; left:120px; top:12px;">
                            <input class="form-check-input" type="checkbox" name="1" value="1" id="flexCheckDefault" style="position:relative; left:-130px">
                        </div>
                    </td>

                </tr>
                <tr>
                    <th scope="row" style="position:relative; left:20px; top:10px;">Phase 2</th>

                    <td>
                        <div class="form-check" style="position:relative; left:120px; top:12px;">
                            <input class="form-check-input" type="checkbox" name="2" value="2" id="flexCheckDefault" style="position:relative; left:-130px">
                        </div>
                    </td>

                </tr>

                <tr>
                    <th scope="row" style="position:relative; left:20px; top:10px;">Phase 2</th>

                    <td>
                        <div class="form-check" style="position:relative; left:120px; top:12px;">
                            <input class="form-check-input" type="checkbox" name="3" value="3" id="flexCheckDefault" style="position:relative; left:-130px">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <input type="submit" name="1st" value="Filter" class="btn btn-outline-info" style="width:80px; position:relative;  top:20px; left:32px" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
<div class="container" style="position:relative; left:1030px; top:170px">
    @Html.PagedListPager(Model, page => Url.Action("ManageContests", new { page = page }),
        new X.PagedList.Mvc.Common.PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            ContainerDivClasses = new[] { "navigation" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
        })
</div>