﻿@model ContestCardModel
@using X.PagedList.Mvc.Core
@using X.PagedList
@inject Microsoft.AspNetCore.Identity.SignInManager<PhotoContest.Data.Models.User> Signinmanager
@inject Microsoft.AspNetCore.Identity.UserManager<PhotoContest.Data.Models.User> UserManger

<br />

@if (Signinmanager.IsSignedIn(User))
{
    <div style="">
        <partial name="NavBarupdated" />
    </div>
}
else
{
    <div style="">
        <partial name="NavBar" />
    </div>
}

<div class="row">
    <div class="col-lg-7 mx-auto text-white text-center pt-5">
        <h1 class="display-4">Contest info</h1>
        <h6>@Model.Name</h6>

    </div>
</div><!-- End -->

<div class="row">
    <div class="col-6 mx-auto">

        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="container-fluid" style="height:350px; width:600px;">
                <img src="@Model.Profile" style="height:390px; width:900px; position:relative; left:-165px; top:10px;">
            </div>
            <div class="media align-items-end profile-header">

                <div class="media-body mb-5 text-white">

                </div>
            </div>


            <div class="bg-light p-4 d-flex justify-content-lg-start text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block" style="font-size:17px; color:lightslategrey">@Model.PhotosCount</h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Photos</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block" style="font-size:17px; color:orangered">@Model.ParticipantLimit</h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Capacity</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block" style="font-size:17px; color:lightslategrey">@Model.Category</h5><small class="text-muted"> <i></i>Category</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block" style="font-size:17px; color:darkseagreen">@Model.StartDate.ToShortDateString()</h5><small class="text-muted"> <i></i>Start Date</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block" style="font-size:17px; color:orangered">@Model.EndDate.ToShortDateString()</h5><small class="text-muted"> <i></i>End Date</small>
                    </li>

                </ul>
            </div>

            <div class="py-4 px-4">

                <div class="py-4">
                    <h5 class="mb-3">Description</h5>
                    <div class="p-4 bg-light rounded shadow-sm">
                        <p class="font-italic mb-0">@Model.Description</p>
                        <ul class="list-inline small text-muted mt-3 mb-0">
                        </ul>
                    </div>
                </div>

                @if ((string)ViewData["Rank"] == "ent")
                {
                    @if (Model.Joinned == "yes")
                    {
                        <label class="btn-outline-success">You Cannot Rate the Contest, because you are a participant!</label>
                    }
                    else
                    {
                        @if (Model.Rated == true)
                        {
                            <label class="btn-outline-warning">You Cannot Rate the Contest, because you already gave your vote!!</label>
                        }
                        else
                        {
                            @if (User.IsInRole("User"))
                            {
                                @if (Model.Phase == 1)
                                {
                                    <a class="btn btn-primary text-light" asp-controller="HomeSignIn" asp-action="JoinContest" asp-route-id="@Model.Name" style="opacity:0.8"><strong>Join</strong></a>

                                }
                                @if (Model.Phase == 2)
                                {

                                    <a class="btn btn-primary text-light" asp-action="RateContest" asp-controller="HomeSignIn" asp-route-id="@Model.Name" style="opacity:0.8"><strong>Rate</strong></a>

                                }
                                @if (Model.Phase == 3)
                                {
                                    <label class="btn-outline-danger">The Contest has finnished!</label>
                                }

                            }
                        }
                    }
                }
                else
                {

                    @if (Model.Joinned == "yes")
                    {
                        <label class="btn-outline-info">You Cannot Join the Contest, because you are a participant!</label>
                    }
                    else
                    {
                        @if (User.IsInRole("User"))
                        {

                            @if (Model.Phase == 1)
                            {
                                <a class="btn btn-primary text-light" asp-action="JoinContest" asp-controller="HomeSignIn" asp-route-id="@Model.Name" style="opacity:0.8"><strong>Join</strong></a>
                            }
                            else if (Model.Phase == 2)
                            {
                                <label class="btn-outline-info">You can only upload photos in Phase 1!</label>
                            }
                            @if (Model.Phase == 3)
                            {
                                <label class="btn-outline-danger">Contest is closed!</label>
                            }
                        }
                    }

                }
            </div>
        </div><!-- End profile widget -->

    </div>
</div>

<br />


<div class="container">
    <div class="row">

        @foreach (var item in (PagedList<PhotoModel>)ViewData["listphotos"])
        {
            <!--Grid column-->
            <div class="col-md-4 ">
                @if (User.IsInRole("User"))
                {
                    @if ((string)ViewData["Rank"] == "ent")
                    {
                        <a asp-action="PhotoDetails" asp-controller="HomeSignIn" asp-route-id="@item.Name">
                            <img src="@item.PhotoLink" alt="" style="height:370px; width:350px;">
                            @if (item.PhotoScore > 39)
                            {
                                <span class="badge badge-pill badge-warning" style="z-index:999;">Winner</span>
                            }
                            @if (item.PhotoScore < 40 && item.PhotoScore > 24)
                            {
                                <span class="badge badge-pill badge-secondary">Second Place</span>
                            }
                            @if (item.PhotoScore < 25 && item.PhotoScore > 9)
                            {
                                <span class="badge badge-pill badge-light">Third Place</span>
                            }
                        </a>
                    }
                    else
                    {
                        <a asp-action="PhotoDetails" asp-controller="HomeSignIn" asp-route-id="@item.Name">
                            <img src="@item.PhotoLink" alt="" style="height:370px; width:350px;">
                            @if (item.PhotoScore > 39)
                            {
                                <span class="badge badge-pill badge-warning" style="z-index:999;">Winner</span>
                            }
                            @if (item.PhotoScore < 40 && item.PhotoScore > 24)
                            {
                                <span class="badge badge-pill badge-secondary">Second Place</span>
                            }
                            @if (item.PhotoScore < 25 && item.PhotoScore > 10)
                            {
                                <span class="badge badge-pill badge-light">Third Place</span>
                            }
                        </a>

                    }
                }

                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="PhotoDetails" asp-controller="Admin" asp-route-id="@item.Name">
                        <img src="@item.PhotoLink" alt="" style="        height: 370px;
        width: 350px;">
                        @if (item.PhotoScore > 39)
                        {
                            <span class="badge badge-pill badge-warning" style="z-index:999;">Winner</span>
                        }
                        @if (item.PhotoScore < 40 && item.PhotoScore > 24)
                        {
                            <span class="badge badge-pill badge-secondary">Second Place</span>
                        }
                        @if (item.PhotoScore < 25 && item.PhotoScore > 10)
                        {
                            <span class="badge badge-pill badge-light">Third Place</span>
                        }
                    </a>
                }

            </div>
        }

    </div>
</div>

<br />
<br />
<br />
<div class="container" style="position:relative; left:1060px; top:-20px">
    @Html.PagedListPager((IPagedList)ViewData["listphotos"], page => Url.Action("ContestsInside", new { page = page }),
        new X.PagedList.Mvc.Common.PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            ContainerDivClasses = new[] { "navigation" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
        })
</div>