﻿@model WebApplication1.Models.LoggedModels.CreateContestModel

<div>
    <partial name="NavBarUpdated" />

</div>
<br />



<h3 style="position:relative; left:820px;">Create new Contest</h3>
<br />
<div class="card align-items-md-end" style="height:900px; width:600px; left:650px; border:none">
    <br />
    <form asp-controller="Admin" asp-action="CreateContestPost" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label class="col-4 col-form-label" asp-for="@Model.Name"></label>
            <div class="col-8">
                <input asp-for="@Model.Name" class="form-control" required="required">
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label for="text1" class="col-4 col-form-label">Start Date</label>
            <div class="col-8">
                <input asp-for="@Model.StartDate" class="form-control" type="datetime-local">
                <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="text2" class="col-4 col-form-label">End Date</label>
            <div class="col-8">
                <input asp-for="@Model.EndDate" class="form-control" type="datetime-local">
                <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label for="text4" class="col-4 col-form-label">Category</label>
            <div class="col-8">
                <input asp-for="@Model.Category.Name" class="form-control" required="required">
                <span asp-validation-for="@Model.Category.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="text5" class="col-4 col-form-label">Participation limit</label>
            <div class="col-8">
                <input asp-for="@Model.ParticipantLimit" class="form-control" required="required">
                <span asp-validation-for="@Model.ParticipantLimit" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="Description" class="col-4 col-form-label">Description</label>
            <div class="col-8">
                <textarea cols="40" rows="5" asp-for="@Model.Description" class="form-control" required="required"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
        </div>
        <label for="text5" class="col-4 col-form-label" style="position:relative; left:-10px;">Cover Photo</label>
        <div class="col-8 ">
            <input type="file" name="file" class="form-control" style="position:relative; left:-15px;" required="required">

        </div>
        <div class="form-group row">

            <div class="form-group row">
                <div class="offset-4 col-8">
                    <button name="submit" type="submit" class="btn btn-info" style="position:relative; top:35px; left:-50px;">Submit</button>
                </div>
            </div>

        </div>
    </form>
</div>


<div class="card" style="height:500px; width:190px; border:none; height:auto; position:relative; top:-870px; left:200px;">
    <table class="table-borderless rounded-3">
        <tr><td></td></tr>
        <tr>
            <th class="text-xl-center" style="position:relative; color:lightslategrey; top:10px; font-size:26px;">
                <i> Categories</i>
            </th>
        </tr>
        <tr>
            <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                <i>
                    Architecture

                </i>
            </th>
        </tr>
        <tr>
            <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                <i>
                    Birds
                </i>
            </th>
        </tr>
        <tr>
            <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                <i>
                    City

                </i>
            </th>
        </tr>
        <tr>
            <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                <i>
                    Forest

                </i>
            </th>
        </tr>
        <tr>
            <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                <i>
                    Landscape
                </i>
            </th>
        </tr>
        <tr>
            <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                <i>
                    Mountains
                </i>
            </th>
        </tr>
        <tr>
            <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                <i>
                    Sci-fi
                </i>
            </th>
        </tr>
        <tr>
            <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                <i>
                    Sky
                </i>
            </th>
        </tr>
        <tr>
            <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                <i>
                    Tech
                </i>
            </th>
        </tr>
        <tr>
            <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                <i>
                    Urban
                </i>
            </th>
        </tr>
        <tr>
            <td><br /></td>
        </tr>
        <tr>
            <td style="position:relative; top:10px; font-size:20px;">* Case sensitive </td>
        </tr>

        <tr>
            <td><br /></td>
        </tr>
    </table>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
