﻿@model X.PagedList.IPagedList<PhotoModel>

@using X.PagedList.Mvc.Core
@using X.PagedList

@inject Microsoft.AspNetCore.Identity.SignInManager<PhotoContest.Data.Models.User> Signinmanager
@inject Microsoft.AspNetCore.Identity.UserManager<PhotoContest.Data.Models.User> UserManger

<div style="">
    <partial name="NavBarupdated" />
</div>

<br />

<div class="container" style="border-bottom:solid; text-align:center; width:800px; position:relative; left:0px; top:30px;">
    <header class="accordion-header mb-1" style="font-size:xx-large; color:lightsteelblue"><i>Photos</i></header>
</div>

@if (User.IsInRole("Admin"))
{

    @using (Html.BeginForm("ExplorePhotos", "Admin", new { id = (string)ViewData["numofcont"] }))
    {
        <div class="input-group" style="width:250px; z-index:999;">
            <input type="search" class="form-control bg-gradient-faded-light rounded" placeholder="Search" aria-label="Search"
                   aria-describedby="search-addon" style="width:250px; top:90px; left:785px; color:dodgerblue; opacity:0.9;" name="search" />
            <button type="submit" class="btn btn-outline-primary" style="z-index:999; top:54px; left:1033px; color:dodgerblue; opacity:0.6; border:none">search</button>
        </div>
    }
}

@if (User.IsInRole("User"))
{

    @using (Html.BeginForm("ExplorePhotos", "HomeSignIn", new { id = (string)ViewData["numofcont"] }))
    {
        <div class="input-group" style="width:250px; z-index:999;">
            <input type="search" class="form-control bg-gradient-faded-light rounded" placeholder="Search" aria-label="Search"
                   aria-describedby="search-addon" style="width:250px; top:90px; left:785px; color:dodgerblue; opacity:0.9;" name="search" />
            <button type="submit" class="btn btn-outline-primary" style="z-index:999; top:54px; left:1033px; color:dodgerblue; opacity:0.6; border:none">search</button>
        </div>
    }
}

<br />
<br />
<br />

<div class="container">
    <div class="row">

        @foreach (var item in Model)

        {
            <!--Grid column-->
        <div class="col-md-4 ">
            @if (User.IsInRole("User"))
            {
                <a asp-action="PhotoDetails" asp-controller="HomeSignIn" asp-route-id="@item.Name">
                    <img src="@item.PhotoLink" alt="" style="height:370px; width:350px;">
                </a>
            }
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="PhotoDetails" asp-controller="Admin" asp-route-id="@item.Name">
                    <img src="@item.PhotoLink" alt="" style="height:370px; width:350px;">
                </a>
            }

        </div>
        }

    </div>
</div>



<div class="container" style="position:relative; left:940px; top:100px">
    @Html.PagedListPager(Model, page => Url.Action("ExplorePhotos", new { page = page }),
        new X.PagedList.Mvc.Common.PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            ContainerDivClasses = new[] { "navigation" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
        })
</div>