﻿@model IndexModelLogged
@using X.PagedList.Mvc.Core
@using X.PagedList

@inject Microsoft.AspNetCore.Identity.SignInManager<PhotoContest.Data.Models.User> Signinmanager
@inject Microsoft.AspNetCore.Identity.UserManager<PhotoContest.Data.Models.User> UserManger

<link href="~/css/StyleSheetLoadMore.css" rel="stylesheet" />

<div>
    <partial name="NavBarUpdated" />

</div>

<br />

<div>
    <partial name="LoadMoreViewSigned" />

</div>


<div style="position:relative; top:-50px">
    <partial name="PhotoWinners" />

</div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/js/JavaScriptLoadMore.js"></script>
