﻿@model PhotoModel

<div>
    <partial name="NavBarUpdated" />

</div>
<br />
<br />
<h3 style="position:relative; left:810px;">Upload Photo</h3>
<div class="card align-items-lg-end" style="position:relative; top:0px; width:800px; border:none; left:500px;">
    <br />
    <form asp-controller="HomeSignIn" asp-action="JoinContest" method="post" style="position:relative; top:0px; width:600px;" enctype="multipart/form-data">
        <div class="form-group row">
            <label class="col-4 col-form-label" for="text">Photo Name</label>
            <div class="col-8 form-group">
                <input asp-for="@Model.Name" class="form-control" required="required">
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="text1" class="col-4 col-form-label">Description</label>
            <div class="col-8 form-group">
                <textarea cols="40" rows="5" asp-for="@Model.Description" class="form-control" required="required"></textarea>

                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="text2" class="col-4 col-form-label">Aperture</label>
            <div class="col-8 form-group">
                <input asp-for="@Model.Aperture" class="form-control" required="required">
                <span asp-validation-for="@Model.Aperture" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="text3" class="col-4 col-form-label">Camera</label>
            <div class="col-8 form-group">
                <input asp-for="@Model.Camera" class="form-control" required="required">
                <span asp-validation-for="@Model.Camera" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="text4" class="col-4 col-form-label">Focal Length</label>
            <div class="col-8 form-group">
                <input asp-for="@Model.FocalLength" class="form-control" required="required">
                <span asp-validation-for="@Model.FocalLength" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="text5" class="col-4 col-form-label">ISO</label>
            <div class="col-8 form-group">
                <input asp-for="@Model.ISO" class="form-control" required="required">
                <span asp-validation-for="@Model.ISO" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="Description" class="col-4 col-form-label">Shutter speed</label>
            <div class="col-8 form-group">
                <input asp-for="@Model.ShutterSpeed" class="form-control" required="required">

                <span asp-validation-for="@Model.ShutterSpeed" class="text-danger"></span>
            </div>
        </div>
        <label for="text5" class="col-4 col-form-label">Upload</label>
        <div class="col-8">
            <input type="file" name="file" class="form-control">

        </div>

        <div>
            OR
        </div>

        <label for="text5" class="col-4 col-form-label">Upload via Link</label>
        <div class="col-8">
            <input asp-for="@Model.PhotoLink" class="form-control">
        </div>
        <br />
        <div class="form-group row">
            <div class="offset-4 col-8">
                <button name="submit" type="submit" class="btn btn-info" style="position:relative; left:-200px;">Submit</button>
            </div>
        </div>
    </form>
</div>
<br />
<br />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}