﻿@model IndexModelLogged


<div class="container" style="border-bottom:solid; text-align:center; width:800px; position:relative; left:0px">
    <header class="accordion-header mb-1" style="font-size:xx-large; color:lightsteelblue"><i>Check our newest Contests</i></header>
</div>
<br />
<br />
<div class="interior container clearfix" style="border:none; ">

    <div class="row">
        @{
            for (int i = 0; i < 3; i++)
            {
                <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox">
                    <div class="card">
                                <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                                    @if (User.IsInRole("User"))
                                    {
                                        <a asp-action="ContestsInside" asp-controller="HomeSignIn" asp-route-id="@Model.ContestCardModels[i].Name" class="d-block">
                                            <img src="@Model.ContestCardModels[i].Profile" class="img-fluid border-radius-lg" style="height:200px; width:320px">
                                        </a>
                                    }
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a asp-action="ContestsInside" asp-controller="Admin" asp-route-id="@Model.ContestCardModels[i].Name" class="d-block">
                                            <img src="@Model.ContestCardModels[i].Profile" class="img-fluid border-radius-lg" style="height:200px; width:320px">
                                        </a>
                                    }

                                </div>


                                <div class="card-body m-n3">


                                    <p class="card-description mb-1">
                                        @Model.ContestCardModels[i].Description
                                    </p>

                                    @if (User.IsInRole("User"))
                                    {
                                        <a asp-action="ContestsInside" asp-controller="HomeSignIn" asp-route-id="@Model.ContestCardModels[i].Name" class="text-info icon-move-right ">
                                            Read More
                                            <i class="fas fa-arrow-right text-sm" aria-hidden="true"></i>
                                        </a>
                                    }
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a asp-action="ContestsInside" asp-controller="Admin" asp-route-id="@Model.ContestCardModels[i].Name" class="text-info icon-move-right ">
                                            Read More
                                            <i class="fas fa-arrow-right text-sm" aria-hidden="true"></i>
                                        </a>
                                    }
                                    <div class="author align-items-center">
                                    </div>
                                </div>
                    </div>
                    <div class="shadow p-3 mb-5 bg-light rounded" style="height:40px; width:170px; z-index:999;  position:relative; top:-112px; left:163px; opacity:0.8">Join till: @Model.ContestCardModels[i].EndDate.Subtract(TimeSpan.FromDays(1)).ToShortDateString()</div>
                </div>
            }

        }

        @{
            for (int i = 3; i < Model.ContestCardModels.Count(); i++)
            {
                <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox" style="display: none;">
                    <div class="card">
                        <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                            @if (User.IsInRole("User"))
                            {
                                <a asp-action="ContestsInside" asp-controller="HomeSignIn" asp-route-id="@Model.ContestCardModels[i].Name" class="d-block">
                                    <img src="@Model.ContestCardModels[i].Profile" class="img-fluid border-radius-lg" style="height:200px; width:320px">
                                </a>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="ContestsInside" asp-controller="Admin" asp-route-id="@Model.ContestCardModels[i].Name" class="d-block">
                                    <img src="@Model.ContestCardModels[i].Profile" class="img-fluid border-radius-lg" style="height:200px; width:320px">
                                </a>
                            }

                        </div>

                        <div class="card-body m-n3">

                            <p class="card-description mb-1">
                                @Model.ContestCardModels[i].Description
                            </p>
                            @if (User.IsInRole("User"))
                            {
                                <a asp-action="ContestsInside" asp-controller="HomeSignIn" asp-route-id="@Model.ContestCardModels[i].Name" class="text-info icon-move-right ">
                                    Read More
                                    <i class="fas fa-arrow-right text-sm" aria-hidden="true"></i>
                                </a>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="ContestsInside" asp-controller="Admin" asp-route-id="@Model.ContestCardModels[i].Name" class="text-info icon-move-right ">
                                    Read More
                                    <i class="fas fa-arrow-right text-sm" aria-hidden="true"></i>
                                </a>
                            }
                            <div class="author align-items-center">
                            </div>
                        </div>
                    </div>
                    <div class="shadow p-3 mb-5 bg-light rounded" style="height:40px; width:170px; z-index:999;  position:relative; top:-112px; left:163px; opacity:0.8">Join till: @Model.ContestCardModels[i].EndDate.Subtract(TimeSpan.FromDays(1)).ToShortDateString()</div>
                </div>
            }
        }

        <div id="loadMore" style="position:relative; top:-100px">
            <a href="#">Load More</a>
        </div>

    </div>
</div>

