﻿@inject Microsoft.AspNetCore.Identity.SignInManager<PhotoContest.Data.Models.User> Signinmanager
@inject Microsoft.AspNetCore.Identity.UserManager<PhotoContest.Data.Models.User> UserManger



<nav class="navbar navbar-expand-lg  blur blur-rounded top-0 border-bottom z-index-3 shadow w-100 mt-4 d-none d-lg-block my-3 py-2">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bolder ms-3" asp-action="Index" asp-controller="Home" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
            PhotoContest
        </a>


        
            <ul class="dropdown navbar-nav" style="position:relative; left:230px; z-index:999; top:7px;">
                <button class="btn btn dropdown-toggle"
                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Contests
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1" style="position:absolute; left:0px; top:0px;">
                    <a class="dropdown-item" asp-action="UserContests" asp-controller="Home" asp-route-id="allcont">All Contests</a>
                </div>
            </ul>
        

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav navbar-nav-hover mx-auto">
            </ul>




            @if ((string)ViewData["Isindex"] == "yes")
            {
                <ul class="navbar-nav" style="position:relative; z-index:999; top:8px; right:0px">
                    <li>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-primary" style="border:none" data-bs-toggle="modal" data-bs-target="#exampleModalSignUp">
                            <strong>Sign Up</strong>
                        </button>
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav" style="position:relative; z-index:999; top:8px; right:0px">
                    <li>
                        <!-- Button trigger modal -->
                        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary" style="border:none">
                            <strong>Go To Main</strong>
                        </a>
                    </li>
                </ul>
            }

            <ul class="navbar-nav" style="position:relative; z-index:999; top:8px; right:0px">
                <li>
                    <!-- Button trigger modal -->
                    <a asp-action="Register" asp-controller="Home" class="btn btn-outline-primary" style="border:none">
                        <strong>Register</strong>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav" style="position: relative; top:8px">
                <a class="btn btn-icon btn-2 btn-primary" asp-action="AboutUs" asp-controller="Home">
                    <span class="btn-inner--icon"><i class="ni ni-bulb-61"></i></span>
                </a>
            </ul>
        </div>
    </div>
</nav>
