﻿@model PhotoModel

<link href="~/css/Comments.css" rel="stylesheet" />


<div class="container-fluid">
    <div>
        <partial name="NavBarUpdated" />
    </div>
    <img class="p1 bg-gradient-faded-danger" src="@Model.PhotoLink" style="position:relative;  left:-30px; height:810px; width:1310px;" />
</div>

<body class="container-fluid" style="overflow:hidden">

    <div class=" sidenav-normal  container" style="height:100%; width:600px; position:fixed;z-index:1;top:0;left:69.7%;background-color:white;padding-top:20px; position:fixed; overflow-y: scroll; overflow-x:hidden;">
        <br />
        <br />
        <br />
        <br />

        <div class="card" style="position:relative; border:none; top:-8px; height:auto; width:au">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="@Model.UserPhoto" alt="Admin" class="rounded-start p-1 bg-gradient-faded-light-vertical" width="150">
                    <div class="mt-3">
                        <h4>@Model.UserName</h4>
                        <p class="text-secondary mb-1">@Model.UserRank</p>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-primary" asp-action="UserDetails" asp-controller="Admin" asp-route-id="@Model.UserName">View Profile</a>
                        }
                        @if (User.IsInRole("User"))
                        {
                            <a class="btn btn-primary" asp-action="UserDetails" asp-controller="HomeSignIn" asp-route-id="@Model.UserName">View Profile</a>
                        }
                    </div>
                </div>
                <p>@Model.Description</p>
                <hr class="my-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe me-2 icon-inline"></svg>ISO</h6>
                        <span class="text-secondary">@Model.ISO</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github me-2 icon-inline"></svg>Aperture</h6>
                        <span class="text-secondary">@Model.Aperture</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather- me-2 icon-inline text-info"></svg>Camera</h6>
                        <span class="text-secondary">@Model.Camera</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather- me-2 icon-inline text-info"></svg>Shutter Speed</h6>
                        <span class="text-secondary">@Model.ShutterSpeed</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather- me-2 icon-inline text-info"></svg>Focal Length</h6>
                        <span class="text-secondary">@Model.FocalLength</span>
                    </li>
                    @foreach (var item in Model.Comments)
                    {
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="media g-mb-30 media-comment">
                                        <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="@item.Photo" alt="Image Description">
                                        <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                                            <div class="g-mb-15">
                                                <h5 class="h5 g-color-gray-dark-v1 mb-0">@item.UserName</h5>
                                                <span class="g-color-gray-dark-v4 g-font-size-12">@item.CommentTime.ToShortDateString()</span>
                                            </div>

                                            <p>
                                                @item.Description
                                            </p>


                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    }
                </ul>

                @foreach (var item in Model.Comments)
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="media g-mb-30 media-comment">
                                    <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="@item.Photo" alt="Image Description">
                                    <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                                        <div class="g-mb-15">
                                            <h5 class="h5 g-color-gray-dark-v1 mb-0">@item.UserName</h5>
                                            <span class="g-color-gray-dark-v4 g-font-size-12">@item.CommentTime.ToShortDateString()</span>
                                        </div>

                                        <p>
                                            @item.Description
                                        </p>

                                        
                                    </div>
                                </div>
                            </div>

                           
                        </div>
                    </div>

                }

                </div>


        </div>

    </div>
    <br />



</body>