﻿@model IndexModelLogged


<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3"><i>Most Recent Winners</i></h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">



                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                @{
                                    for (int i = 0; i < 3; i++)
                                    {
                                        <div class="col-md-4">
                                            <div>
                                                <div class="card card-background move-on-hover" style="border:none; height:300px">
                                                    <div class="full-background" style="background-image: url('@Model.PhotoCardModels[i].PhotoLink')"></div>
                                                    @if (User.IsInRole("User"))
                                                    {
                                                        <a asp-action="PhotoDetails" asp-controller="HomeSignIn" asp-route-id="@Model.PhotoCardModels[i].Name">

                                                            <div class="card-body pt-12 text-center" style="position:relative; top:-100px;">
                                                                <h4 class="text-white">@Model.PhotoCardModels[i].Description</h4>

                                                            </div>
                                                        </a>
                                                    }
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <a asp-action="PhotoDetails" asp-controller="Admin" asp-route-id="@Model.PhotoCardModels[i].Name">

                                                            <div class="card-body pt-12 text-center" style="position:relative; top:-100px;">
                                                                <h4 class="text-white">@Model.PhotoCardModels[i].Description</h4>

                                                            </div>
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                @{
                                    for (int i = 3; i < 6; i++)
                                    {
                                        <div class="col-md-4">
                                            <div>
                                                <a href="javascript:;">
                                                    <div class="card card-background move-on-hover" style="border:none; height:300px">
                                                        <div class="full-background" style="background-image: url('@Model.PhotoCardModels[i].PhotoLink')"></div>
                                                        <a asp-action="PhotoDetails" asp-controller="HomeSignIn" asp-route-id="@Model.PhotoCardModels[i].Name">

                                                            @if (User.IsInRole("User"))
                                                            {
                                                                <a asp-action="PhotoDetails" asp-controller="HomeSignIn" asp-route-id="@Model.PhotoCardModels[i].Name">

                                                                    <div class="card-body pt-12 text-center" style="position:relative; top:-100px;">
                                                                        <h4 class="text-white">@Model.PhotoCardModels[i].Description</h4>

                                                                    </div>
                                                                </a>
                                                            }
                                                            @if (User.IsInRole("Admin"))
                                                            {
                                                                <a asp-action="PhotoDetails" asp-controller="Admin" asp-route-id="@Model.PhotoCardModels[i].Name">

                                                                    <div class="card-body pt-12 text-center" style="position:relative; top:-100px;">
                                                                        <h4 class="text-white">@Model.PhotoCardModels[i].Description</h4>

                                                                    </div>
                                                                </a>
                                                            }
                                                        </a>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>