﻿
@inject Microsoft.AspNetCore.Identity.SignInManager<PhotoContest.Data.Models.User> Signinmanager
@inject Microsoft.AspNetCore.Identity.UserManager<PhotoContest.Data.Models.User> UserManger
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">

    <link href="~/css/SuccesCreatestyle.css" rel="stylesheet" />
</head>

<div style="position:relative; top:-35px;">



    <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 border-bottom z-index-3 shadow w-100 mt-4 d-none d-lg-block my-3 py-2"  style="position:relative; top:-35px;">
        <div class="container-fluid">

            @if (User.IsInRole("Admin"))
            {
                <a class="navbar-brand font-weight-bolder ms-3" asp-action="Index" asp-controller="Admin" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
                    PhotoContest
                </a>
            }
            else
            {
                <a class="navbar-brand font-weight-bolder ms-3" asp-action="Index" asp-controller="HomeSignIn" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
                    PhotoContest
                </a>
            }

            <ul class="dropdown" style="position:relative; left:-500px; top:7px;">
                <button class="btn btn dropdown-toggle"
                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Contests
                </button>




                @if (User.IsInRole("Admin"))
                {
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" asp-action="UserContests" asp-controller="Admin" asp-route-id="usercont">Your Contests</a>
                        <a class="dropdown-item" asp-action="UserContests" asp-controller="Admin" asp-route-id="allcont">All Contests</a>
                    </div>
                }
                else
                {
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" asp-action="UserContests" asp-controller="HomeSignIn" asp-route-id="usercont">Your Contests</a>
                        <a class="dropdown-item" asp-action="UserContests" asp-controller="HomeSignIn" asp-route-id="allcont">All Contests</a>
                    </div>
                }
            </ul>



            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav navbar-nav-hover mx-auto">

                    <div class="container-fluid">
                        <ul class="dropdown" style="position:relative; left:-500px; top:7px;">
                            <button class="btn btn dropdown-toggle"
                                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Contests
                            </button>




                            @if (User.IsInRole("Admin"))
                            {
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" asp-action="UserContests" asp-controller="HomeSignIn" asp-route-id="usercont">Your Contests</a>
                                    <a class="dropdown-item" asp-action="UserContests" asp-controller="HomeSignIn" asp-route-id="allcont">All Contests</a>
                                </div>
                            }
                            else
                            {
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" asp-action="UserContests" asp-controller="HomeSignIn" asp-route-id="usercont">Your Contests</a>
                                    <a class="dropdown-item" asp-action="UserContests" asp-controller="HomeSignIn" asp-route-id="allcont">All Contests</a>
                                </div>
                            }
                        </ul>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <li style="position:relative; left:-480px; top:7px;">
                            <a type="button" class="btn btn-outline-info" asp-controller="Admin" asp-action="GetUsers" style="height:33px; width:70px; border:none">Users </a>
                        </li>
                    }
                    else
                    {
                        <li style="position:relative; left:-480px; top:7px;">
                            <a type="button" class="btn btn-outline-info" asp-controller="HomeSignIn" asp-action="GetUsers" style="height:33px; width:70px; border:none">Users </a>
                        </li>
                    }


                    @if (User.IsInRole("Admin"))
                    {

                        <li style="position:relative; left:-460px; top:7px;">
                            <button type="button" class="btn btn-outline-info" style="height:33px; width:70px; border:none">Articles </button>
                        </li>
                    }
                    else
                    {
                        <li style="position:relative; left:-460px; top:7px;">
                            <a type="button" class="btn btn-outline-info" asp-action="ExplorePhotos" asp-controller="HomeSignIn" style="height:33px; width:70px; border:none">Photos</a>
                        </li>
                    }


                    @if ((string)ViewData["Rank"] == "ent")
                    {
                        <li style="position:relative; left:-430px; top:7px;">
                            <a type="button" class="btn btn-outline-info" asp-action="UserContests" asp-controller="HomeSignIn" asp-route-id="All" style="height:33px; width:70px; border:none">Appraise</a>
                        </li>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <li style="position:relative; left:-430px; top:7px;">
                            <a type="button" class="btn btn-outline-info" style="height:33px; width:170px; border:none" asp-action="ManageContests" asp-controller="Admin">Manage Contests</a>
                        </li>
                    }


                </ul>

                <ul class="navbar-nav" style="position:absolute; z-index:999; top:21px; right:200px">
                    <!-- Button trigger modal -->
                    <li>
                        <a type="button" class="btn btn-outline-primary" asp-action="UserDetails" asp-controller="HomeSignIn" style="border:none">
                            <strong> Profile </strong>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav" style="position:absolute; z-index:999; top:21px; right:100px">
                    <!-- Button trigger modal -->
                    <li>
                        <a type="button" class="btn btn-outline-primary" asp-action="Logout" asp-controller="HomeSignIn" style="border:none">
                            <strong> Logout</strong>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav" style="position: relative; top:8px">
                    <button class="btn btn-icon btn-2 btn-primary" type="button" style="width:55px;">
                        <span class="btn-inner--icon"><i class="ni ni-bulb-61"></i></span>
                    </button>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--ViewData["screated"].ToString(); -->

<body>
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1>Success</h1>
        <p>The Contest was succesfully created!;<br /><a class="btn btn-outline-info" asp-action="Index" asp-controller="Admin">Go to Main page</a></p>
    </div>
</body>
