﻿@model UserViewModel


    <div>
        <partial name="NavBarUpdated" />
    </div>

    <div class="container">

        <div class="card" style="text-align:center; border:none; width:800px; position:relative; left:150px; top:60px;">
            <header class="accordion-header mb-1" style="font-size:xx-large; color:lightsteelblue"><i>Update Profile</i></header>
        </div>

        <form asp-controller="HomeSignIn" asp-action="EditUserProfile" method="post" enctype="multipart/form-data" style="border:none;  width:700px; position:relative; top:150px; left:210px;  opacity:0.8;">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Username</label>
                <div class="col-8">

                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="@Model.UserName">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Rank</label>
                <div class="col-8">

                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="@Model.Rank">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-8">

                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="@Model.Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="text3" class="col-4 col-form-label">Update description </label>
                <div class="col-8">
                    <textarea asp-for="@Model.Description" class="form-control" style="width:435px;"></textarea>
                </div>
            </div>

            <label for="text5" class="col-4 col-form-label" style="position:relative; left:-20px;">Upload Cover Photo</label>
            <div class="col-8">
                <input type="file" name="file" class="form-control" style="position:relative; left:-15px">

            </div>
            <div class="form-group row">

                <div class="form-group row" style="position:relative; top:23px; left:60px;
">
                    <div class="offset-4 col-8">
                        <button name="submit" type="submit" class="btn btn-info">Submit</button>
                    </div>
                </div>

            </div>
        </form>
    </div>