﻿@model IPagedList<WebApplication1.Models.CardsModels.UserCardModel>
@using X.PagedList.Mvc.Core
@using X.PagedList

@inject Microsoft.AspNetCore.Identity.SignInManager<PhotoContest.Data.Models.User> Signinmanager
@inject Microsoft.AspNetCore.Identity.UserManager<PhotoContest.Data.Models.User> UserManger



<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link href="~/css/ContestsstableAdmin.css" rel="stylesheet" />


<br />
<div>
    <partial name="NavBarUpdated" />
</div>

<div style="position:relative; top:130px; left:100px; z-index:999">
    @using (Html.BeginForm("GetUsers", "Admin"))
    {
        <div class="card" style="height:300px; width:170px; border:none">
            <table class="table-borderless rounded-3">

                <tr>
                    <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                        <i>Ranks</i>
                    </th>
                </tr>


                @foreach (var item in (List<PhotoContest.Data.Models.Rank>)ViewData["rankname"])
                {

                    <tr>
                        <th scope="row" style="position:relative; left:20px; top:10px;">@item.RankName</th>

                        <td>
                            <div class="form-check" style="position:relative; left:120px; top:12px;">
                                <input class="form-check-input" type="checkbox" name="@item.RankName" value="@item.RankName" id="flexCheckDefault" style="position:relative; left:-130px">
                            </div>
                        </td>

                    </tr>
                }

                <tr>
                    <td>
                        <input type="submit" name="1st" value="Filter" class="btn btn-primary" style="width:80px; position:relative;  top:20px; left:32px" />
                    </td>
                </tr>

            </table>
        </div>
    }
</div>



<hr style="position:relative; top:-250px">
<div class="container bootstrap snippets bootdey" style="position:relative; top:-250px; z-index:1000" >
    <br />


    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>User</span></th>
                                    <th><span>Rank</span></th>
                                    <th><span>Email</span></th>


                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="@item.ProfileLink" alt="" style="height:60px; width:60px;">
                                            <a href="#" class="user-link">@item.UserName</a>
                                            <span class="user-subhead">aaa</span>
                                        </td>
                                        <td>@item.Rank</td>
                                        <td class="text-center">
                                            <span></span>
                                        </td>
                                        <td style="width: 20%;">

                                               <a class="table-link text-info user-links" asp-action="UserDetails" asp-controller="Admin" asp-route-id="@item.UserName" >
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a asp-controller="Admin" asp-action="DelUsers" asp-route-id="@item.UserName" class="table-link danger">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="position:relative; left:1060px; top:-50px">
    @Html.PagedListPager(Model, page => Url.Action("GetUsers", new { page = page }),
        new X.PagedList.Mvc.Common.PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            ContainerDivClasses = new[] { "navigation" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
        })
</div>
