﻿@model WebApplication1.Models.UserViewModel

@inject Microsoft.AspNetCore.Identity.SignInManager<PhotoContest.Data.Models.User> Signinmanager
@inject Microsoft.AspNetCore.Identity.UserManager<PhotoContest.Data.Models.User> UserManger


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
<link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">


<link href="~/js/Useview.css" rel="stylesheet" />






<br />
@if (Signinmanager.IsSignedIn(User))
{
    @if (User.IsInRole("User"))
    {

        @if (User.Identity.Name == Model.UserName)
        {
            <a class="btn btn-outline-info" asp-controller="HomeSignIn" asp-action="EditUserProfile" style="position:relative; top:500px; z-index:999; left:47px;"><strong>Edit Profile</strong> </a>

        }
    }
}

<body class="profile-page" style="position:relative; top:-50px;">

    <br />
    @if (Signinmanager.IsSignedIn(User))
    {
        <div style="z-index:1000">

            <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 border-bottom z-index-3 shadow w-100 mt-4 d-none d-lg-block my-3 py-2">
                <div class="container-fluid">
                    <a class="navbar-brand font-weight-bolder ms-3" href="" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
                        PhotoContest
                    </a>

                    <ul class="dropdown" style="position:relative; left:-500px; top:7px;">
                        <button class="btn btn dropdown-toggle"
                                type="button" id="dropdownMenu1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Contests
                        </button>




                        @if (User.IsInRole("Admin"))
                        {
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" asp-action="UserContests" asp-controller="Admin" asp-route-id="usercont">Your Contests</a>
                                <a class="dropdown-item" asp-action="UserContests" asp-controller="Admin" asp-route-id="allcont">All Contests</a>
                            </div>
                        }
                        else
                        {
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" asp-action="UserContests" asp-controller="HomeSignIn" asp-route-id="usercont">Your Contests</a>
                                <a class="dropdown-item" asp-action="UserContests" asp-controller="HomeSignIn" asp-route-id="allcont">All Contests</a>
                            </div>
                        }
                    </ul>



                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav navbar-nav-hover mx-auto">

                            <div class="container-fluid">
                                <ul class="dropdown" style="position:relative; left:-500px; top:3px;">
                                    <button class="btn btn dropdown-toggle"
                                            type="button" id="dropdownMenu1" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        Contests
                                    </button>




                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <a class="dropdown-item" asp-action="UserContests" asp-controller="Admin" asp-route-id="usercont">Your Contests </a>
                                            <a class="dropdown-item" asp-action="UserContests" asp-controller="Admin" asp-route-id="allcont">All Contests</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <a class="dropdown-item" asp-action="UserContests" asp-controller="HomeSignIn" asp-route-id="usercont">Your Contests</a>
                                            <a class="dropdown-item" asp-action="UserContests" asp-controller="HomeSignIn" asp-route-id="allcont">All Contests</a>
                                        </div>
                                    }
                                </ul>
                            </div>
                            @if (User.IsInRole("Admin"))
                            {
                                <li style="position:relative; left:-480px; top:7px;">
                                    <a type="button" class="btn btn-outline-info" asp-controller="Admin" asp-action="GetUsers" style="height:33px; width:70px; border:none">Users </a>
                                </li>
                            }
                            else
                            {
                                <li style="position:relative; left:-480px; top:7px;">
                                    <a type="button" class="btn btn-outline-info" asp-controller="HomeSignIn" asp-action="GetUsers" style="height:33px; width:70px; border:none">Users </a>
                                </li>
                            }


                            @if (User.IsInRole("Admin"))
                            {

                                <li style="position:relative; left:-460px; top:7px;">
                                    <a type="button" class="btn btn-outline-info" asp-action="ExplorePhotos" asp-controller="Admin" style="height:33px; width:70px; border:none">Photos </a>
                                </li>
                            }
                            else
                            {
                                <li style="position:relative; left:-460px; top:7px;">
                                    <a type="button" class="btn btn-outline-info" asp-action="ExplorePhotos" asp-controller="HomeSignIn" style="height:33px; width:70px; border:none">Photos</a>
                                </li>
                            }

                            @if (User.IsInRole("User"))
                            {

                                @if ((string)ViewData["Rank"] == "ent")
                                {
                                    <li style="position:relative; left:-430px; top:7px;">
                                        <a type="button" class="btn btn-outline-info" asp-action="UserContests" asp-controller="HomeSignIn" asp-route-id="All" style="height:33px; width:70px; border:none">Appraise</a>
                                    </li>
                                }
                            }

                            @if (User.IsInRole("Admin"))
                            {
                                <li style="position:relative; left:-430px; top:7px;">
                                    <a type="button" class="btn btn-outline-info" style="height:33px; width:170px; border:none" asp-action="ManageContests" asp-controller="Admin">Manage Contests</a>
                                </li>
                            }


                        </ul>

                        <ul class="navbar-nav" style="position:absolute; z-index:999; top:21px; right:160px">
                            <!-- Button trigger modal -->
                            @if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a type="button" class="btn btn-outline-primary" asp-action="UserDetails" asp-controller="Admin" style="border:none; color:dodgerblue">
                                        <strong> Profile </strong>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("User"))
                            {
                                <li>
                                    <a type="button" class="btn btn-outline-primary" asp-action="UserDetails" asp-controller="HomeSignIn" style="border:none; color:dodgerblue">
                                        <strong> Profile </strong>
                                    </a>
                                </li>
                            }

                        </ul>
                        @if (User.IsInRole("User"))
                        {
                            <ul class="navbar-nav" style="position:absolute; z-index:999; top:21px; right:100px">
                                <!-- Button trigger modal -->
                                <li>
                                    <a type="button" class="btn btn-outline-primary" asp-action="Logout" asp-controller="HomeSignIn" style="border:none; position:relative; left:17px; color:dodgerblue">
                                        <strong> Logout</strong>
                                    </a>
                                </li>
                            </ul>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <ul class="navbar-nav" style="position:absolute; z-index:999; top:21px; right:100px">
                                <!-- Button trigger modal -->
                                <li>
                                    <a type="button" class="btn btn-outline-primary" asp-action="Logout" asp-controller="Admin" style="border:none; position:relative; left:17px; color:dodgerblue">
                                        <strong> Logout</strong>
                                    </a>
                                </li>
                            </ul>
                        }

                        <ul class="navbar-nav" style="position: relative; top:-31px; height:20px; color:wheat;">
                            @if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a class="btn btn-icon btn-2 btn-primary" asp-action="AboutUs" asp-controller="Admin">
                                        <span class="btn btn-inner--icon" style="color:dodgerblue; position:relative; left:20px;"><i class="ni ni-bulb-61"></i></span>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("User"))
                            {
                                <li>
                                    <a class="btn btn-icon btn-2 btn-primary" asp-action="AboutUs" asp-controller="HomeSignIn">
                                        <span class="btn btn-inner--icon" style="color:dodgerblue; position:relative; left:20px;"><i class="ni ni-bulb-61"></i></span>
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </nav>

        </div>

    }
    else
    {
        <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 border-bottom z-index-3 shadow w-100 mt-4 d-none d-lg-block my-3 py-2" style="position:relative;">
            <div class="container-fluid">
                <a class="navbar-brand font-weight-bolder ms-3" asp-action="Index" asp-controller="Home" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
                    PhotoContest
                </a>



                <ul class="dropdown navbar-nav" style="position:relative; left:230px; z-index:999; top:0px;">
                    <button class="btn btn dropdown-toggle"
                            type="button" id="dropdownMenu1" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Contests
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1" style="position:absolute; left:0px; top:0px;">
                        <a class="dropdown-item" asp-action="UserContests" asp-controller="Home" asp-route-id="allcont">All Contests</a>
                    </div>
                </ul>


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav navbar-nav-hover mx-auto">
                    </ul>





                    <ul class="navbar-nav" style="position:absolute; z-index:999; top:11px; right:160px">
                        <!-- Button trigger modal -->
                        <li>
                            <a type="button" class="btn btn-outline-primary" asp-action="Index" asp-controller="Home" style="border:none; color:dodgerblue">
                                <strong>Go to Main </strong>
                            </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav" style="position:absolute; z-index:999; top:11px; right:100px">
                        <!-- Button trigger modal -->
                        <li>
                            <a type="button" class="btn btn-outline-primary" asp-action="Register" asp-controller="Home" style="border:none; position:relative; left:17px; color:dodgerblue">
                                <strong>Register</strong>
                            </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav" style="position: relative; top:-31px; height:20px; color:wheat;">
                        <li>
                            <a class="btn btn-icon btn-2 btn-primary" asp-action="AboutUs" asp-controller="Home">
                                <span class="btn btn-inner--icon" style="color:dodgerblue; position:relative; left:20px;"><i class="ni ni-bulb-61"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



    }

    <div class="page-header" data-parallax="true"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="" style="">
                            <div>
                                <img src="@Model.ProfileLink" style="position:relative; left:310px;  top:-110px; height:400px; width:450px;" alt="Circle Image" class="img-raised rounded-3 img-fluid">
                            </div>
                            <div class="name " style="text-align:center; position:relative; top:-100px;">
                                <h3 class="title">@Model.UserName</h3>
                                <h6>@Model.Rank</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description text-center" style="z-index:999; position:relative; top:-90px">
                    <p style="color:black">@Model.Description</p>
                </div>
                <div class="row" style=" position:relative; top:-100px;">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                            <ul class="nav nav-pills nav-pills-icons " role="tablist" style="position:relative; border:none; left:140px; background-color:white">
                                <li class="nav-item" style="">
                                    <a class="nav-link active" href="#studio" role="tab" data-toggle="tab" style="height:70px; border:none;">
                                        <i class="material-icons">photo_camera</i>
                                        Photos
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#works" role="tab" data-toggle="tab" style="height:70px; border:none; ">
                                        <i class="material-icons">emoji_events</i>
                                        Contests
                                    </a>
                                </li>
                                <li>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-content tab-space" style="position:relative; top:-90px;">
                    <div class="tab-pane active text-center gallery" id="studio">
                        <div class="row">

                            @foreach (var item in Model.Photos)
                            {
                                @if (Signinmanager.IsSignedIn(User))
                                {

                                    @if (User.IsInRole("Admin"))

                                    {
                                        <div class="col-md-3">
                                            <a asp-action="PhotoDetails" asp-controller="Admin" asp-route-id="@item.Name">
                                                <img src="@item.PhotoLink" class="rounded" style="height:300px;">
                                            </a>
                                        </div>
                                    }
                                    @if (User.IsInRole("User"))

                                    {
                                        <div class="col-md-3">
                                            <a asp-action="PhotoDetails" asp-controller="HomeSignIn" asp-route-id="@item.Name">
                                                <img src="@item.PhotoLink" class="rounded" style="height:300px;">
                                            </a>
                                        </div>
                                    }

                                }
                            }

                        </div>
                    </div>
                    <div class="tab-pane text-center gallery" id="works">
                        <div class="row">
                            @foreach (var item in Model.Contests)
                            {
                                <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox">
                                    <div class="card" style="z-index:999">
                                        <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                                            <a href="javascript:;" class="d-block">
                                                <img src="@item.Profile" class="img-fluid border-radius-lg" style="height:200px; width:320px">
                                            </a>

                                        </div>

                                        <div class="card-body m-n3">

                                            <p class="card-description mb-1">
                                                @item.Description
                                            </p>

                                            @if (User.IsInRole("Admin"))

                                            {
                                                <a asp-action="ContestsInside" asp-controller="Admin" asp-route-id="@item.Name" class="text-info icon-move-right ">
                                                    Read More
                                                    <i class="fas fa-arrow-right text-sm" aria-hidden="true"></i>
                                                </a>
                                            }
                                            @if (User.IsInRole("User"))
                                            {
                                                <a asp-action="ContestsInside" asp-controller="HomeSignIn" asp-route-id="@item.Name" class="text-info icon-move-right ">
                                                    Read More
                                                    <i class="fas fa-arrow-right text-sm" aria-hidden="true"></i>
                                                </a>
                                            }
                                           
                                            @if(!Signinmanager.IsSignedIn(User))
                                            {
                                                <a asp-action="ContestInside" asp-controller="Home" asp-route-id="@item.Name" class="text-info icon-move-right ">
                                                    Read More
                                                    <i class="fas fa-arrow-right text-sm" aria-hidden="true"></i>
                                                </a>
                                            }

                                            <div class="author align-items-center">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shadow p-3 mb-5 bg-light rounded" style="height:40px; width:120px; position:relative; top:-113px; left:212px; opacity:0.8">Closing at: @item.EndDate</div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane text-center gallery" id="favorite">
                        <div class="row">
                            <div class="col-md-3 ml-auto">
                                <img src="https://images.unsplash.com/photo-1504346466600-714572c4b726?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6754ded479383b7e3144de310fa88277&auto=format&fit=crop&w=750&q=80" class="rounded">
                                <img src="https://images.unsplash.com/photo-1494028698538-2cd52a400b17?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83bf0e71786922a80c420c17b664a1f5&auto=format&fit=crop&w=334&q=80" class="rounded">
                            </div>
                            <div class="col-md-3 mr-auto">
                                <img src="https://images.unsplash.com/photo-1505784045224-1247b2b29cf3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec2bdc92a9687b6af5089b335691830e&auto=format&fit=crop&w=750&q=80" class="rounded">
                                <img src="https://images.unsplash.com/photo-1524498250077-390f9e378fc0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83079913579babb9d2c94a5941b2e69d&auto=format&fit=crop&w=751&q=80" class="rounded">
                                <img src="https://images.unsplash.com/photo-1506667527953-22eca67dd919?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6326214b7ce18d74dde5e88db4a12dd5&auto=format&fit=crop&w=750&q=80" class="rounded">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <footer class="footer text-center ">
        <p>Made with <a href="https://demos.creative-tim.com/material-kit/index.html" target="_blank">Material Kit</a> by Creative Tim</p>
    </footer>



</body>



<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>


<script src="~/js/UsreProfile.js"></script>