﻿@model IndexModel


<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Carousel cards title </h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">



                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                @{
                                    for (int i = 0; i < 3; i++)
                                    {
                                        <div class="col-md-4">
                                            <div class="card card-plain text-center" style="border:none">
                                                <a asp-action="UserDetails" asp-controller="Home" asp-route-id="@Model.UserCardModels[i].UserName ">
                                                    <img class="avatar avatar-xxl shadow" src="@Model.UserCardModels[i].ProfileLink">
                                                </a>

                                                <div class="card-body">
                                                    <h4 class="card-title">@Model.UserCardModels[i].UserName</h4>
                                                    <h6 class="category text-info text-gradient"> @Model.UserCardModels[i].Rank</h6>
                                                    <p class="card-description">

                                                    </p>


                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                @{
                                    for (int i = 3; i < Model.UserCardModels.Count(); i++)
                                    {
                                        <div class="col-md-4">
                                            <div class="card card-plain text-center" style="border:none">
                                                <a asp-action="UserDetails" asp-controller="Home" asp-route-id="@Model.UserCardModels[i].UserName ">
                                                    <img class="avatar avatar-xxl shadow" src="@Model.UserCardModels[i].ProfileLink">
                                                </a>

                                                <div class="card-body">
                                                    <h4 class="card-title" style="opacity:0.7;">@Model.UserCardModels[i].UserName</h4>
                                                    <h6 class="category text-info text-gradient">@Model.UserCardModels[i].Rank</h6>
                                                    <p class="card-description">
                                                        @Model.UserCardModels[i].Description
                                                    </p>



                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>