﻿@model IPagedList<WebApplication1.Models.CardsModels.UserCardModel>
@using X.PagedList.Mvc.Core
@using X.PagedList

@inject Microsoft.AspNetCore.Identity.SignInManager<PhotoContest.Data.Models.User> Signinmanager
@inject Microsoft.AspNetCore.Identity.UserManager<PhotoContest.Data.Models.User> UserManger





<div>
    <partial name="NavBarUpdated" />
</div>

<br />
    @using (Html.BeginForm("GetUsers", "HomeSignIn")) 
    {
        <div class="card" style="height:250px; width:190px; border:none; position:relative; top:150px; left:150px; z-index:999">
            <table class="table-borderless rounded-3">

                <tr>
                    <th class="text-xl-center" style="position:relative; top:8px; font-size:20px;">
                        <i>Ranks</i>
                    </th>
                </tr>


                @foreach (var item in (List<PhotoContest.Data.Models.Rank>)ViewData["rankname"])
                {
                    <tr>
                        <td> </td>
                    </tr>
                    <tr>
                        <th scope="row" style="position:relative; left:30px; top:10px;">@item.RankName</th>

                        <td>
                            <div class="form-check" style="position:relative; left:125px; top:12px;">
                                <input class="form-check-input" type="checkbox" name="@item.RankName" value="@item.RankName" id="flexCheckDefault" style="position:relative; left:-130px">
                            </div>
                        </td>

                    </tr>
                }
                <tr>
                    <td><br /> </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="1st" value="Filter" class="btn btn-primary" style="width:80px; opacity:0.8; position:relative;  top:20px; left:35px" />
                    </td>
                </tr>

            </table>
        </div>
    }



<div style="position:relative; top:-250px;">
    <div class="container" style="border-bottom:solid; text-align:center; width:800px; position:relative; left:0px; top:10px;">
        <header class="accordion-header mb-1" style="font-size:xx-large; color:lightsteelblue"><i>Users</i></header>
    </div>
    <br />
    <br />
    <div class="interior container clearfix" style="border:none">

        <div class="row">
            @{
                foreach (var item in Model)
                {
                        <div class="col-md-4">
                            <div class="card card-plain text-center" style="border:none">
                                <a asp-controller="HomeSignIn" asp-action="UserDetails" asp-route-id="@item.UserName">
                                    <img class="avatar avatar-xxl shadow" src="@item.ProfileLink">
                                </a>

                                <div class="card-body">
                                    <h4 class="card-title">@item.UserName</h4>
                                    <h6 class="category text-info text-gradient">@item.Rank</h6>
                                    <p class="card-description">
                                        @item.Description
                                    </p>



                                </div>
                            </div>
                        </div>
                }
            }
        </div>

    </div>
</div>

<div class="container" style="position:relative; left:1060px; top:-20px">
    @Html.PagedListPager(Model, page => Url.Action("GetUsers", new { page = page }),
        new X.PagedList.Mvc.Common.PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            ContainerDivClasses = new[] { "navigation" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
        })
</div>
