﻿@model WebApplication1.Models.LoggedModels.UserContestFilterModel
@using X.PagedList.Mvc.Core
@using X.PagedList

@inject Microsoft.AspNetCore.Identity.SignInManager<PhotoContest.Data.Models.User> Signinmanager
@inject Microsoft.AspNetCore.Identity.UserManager<PhotoContest.Data.Models.User> UserManger



@if (Signinmanager.IsSignedIn(User))
{
    <div>
        <partial name="NavBarUpdated" />
    </div>
}
else
{
    <div>
        <partial name="NavBar" />
    </div>


}

<br />
<div style="position:relative; top:300px; left:100px; z-index:999">

    @if (Signinmanager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            @using (Html.BeginForm("UserContestsSearch", "Admin", new { id = (string)ViewData["numofcont"] }))
            {
                <div class="input-group" style="width:210px; ">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                           aria-describedby="search-addon" style="width:250px; top:-240px; left:-15px; color:dodgerblue; opacity:0.9;" name="search" />
                    <button type="submit" class="btn btn-outline-primary" style="z-index:999; top:-240px; left:-15px; color:dodgerblue; opacity:0.6; border:none">search</button>
                </div>
            }
        }
        @if (User.IsInRole("User"))
        {
            @using (Html.BeginForm("UserContestsSearch", "HomeSignIn", new { id = (string)ViewData["numofcont"] }))
            {
                <div class="input-group" style="width:210px; ">
                    <input type="search" class="form-control bg-gradient-faded-light rounded" placeholder="Search" aria-label="Search"
                           aria-describedby="search-addon" style="width:250px; top:-240px; left:-15px; color:dodgerblue; opacity:0.9;" name="search" />
                    <button type="submit" class="btn btn-outline-primary" style="z-index:999; top:-240px; left:-18px; color:dodgerblue; opacity:0.6; border:none">search</button>
                </div>
            }
        }
    }



    @{
        string c = string.Empty;

        @if (Signinmanager.IsSignedIn(User))
        {
            if (User.IsInRole("Admin"))
            {
                c = "Admin";
            }
            else
            {
                c = "HomeSignIn";
            }

            @using (Html.BeginForm("UserContFilter", c, new { id = (string)ViewData["numofcont"] }))
            {




                <div class="card" style="height:300px; width:180px; border:none; height:auto; position:relative; top:-215px;">
                    <table class="table-borderless rounded-3">
                        <tr><td></td></tr>
                        <tr>
                            <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                                <i> Categories</i>
                            </th>
                        </tr>

                        @{
                            foreach (var item in (List<PhotoContest.Data.Models.Category>)ViewData["catname"])
                            {

                                <tr>
                                    <th scope="row" style="position:relative; left:20px; top:10px;">@item.Name</th>

                                    <td>

                                        <div style="z-index:1000;">
                                            <input class="form-check-input z-index-sticky"
                                                   type="radio"
                                                   name="radioNoLabel"
                                                   id="radioNoLabel1"
                                                   value="@item.Name"
                                                   aria-label="..." style="z-index:1000; color:grey; opacity:0.5; background-color:lightblue; border:unset" />
                                        </div>

                                    </td>

                                </tr>
                            }
                        }
                        <tr>
                            <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                                <i>  Phases</i>
                            </th>
                        </tr>
                        <tr>
                            <th scope="row" style="position:relative; left:20px; top:10px;">Phase 1</th>

                            <td>
                                <div class="form-check" style="position:relative; left:120px; top:12px;">
                                    <input class="form-check-input" type="checkbox" name="1" value="1" id="flexCheckDefault" style="position:relative; left:-130px">
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row" style="position:relative; left:20px; top:10px;">Phase 2</th>

                            <td>
                                <div class="form-check" style="position:relative; left:120px; top:12px;">
                                    <input class="form-check-input" type="checkbox" name="2" value="2" id="flexCheckDefault" style="position:relative; left:-130px">
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <th scope="row" style="position:relative; left:20px; top:10px;">Phase 3</th>

                            <td>
                                <div class="form-check" style="position:relative; left:120px; top:12px;">
                                    <input class="form-check-input" type="checkbox" name="3" value="3" id="flexCheckDefault" style="position:relative; left:-130px">
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <input type="submit" name="1st" value="Filter" class="btn btn-outline-info" style="width:80px; position:relative;  top:20px; left:32px" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br />
                            </td>
                        </tr>
                    </table>
                </div>
            }

        }
        else
        {
            @using (Html.BeginForm("UserContFilter", "Home"))
            {
                <div class="card" style="height:300px; width:180px; border:none; height:auto; position:relative; top:-215px;">
                    <table class="table-borderless rounded-3">
                        <tr><td></td></tr>
                        <tr>
                            <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                                <i> Categories</i>
                            </th>
                        </tr>

                        @{
                            foreach (var item in (List<PhotoContest.Data.Models.Category>)ViewData["catname"])
                            {

                                <tr>
                                    <th scope="row" style="position:relative; left:20px; top:10px;">@item.Name</th>

                                    <td>

                                        <div style="z-index:1000;">
                                            <input class="form-check-input z-index-sticky"
                                                   type="radio"
                                                   name="radioNoLabel"
                                                   id="radioNoLabel1"
                                                   value="@item.Name"
                                                   aria-label="..." style="z-index:1000; color:grey; opacity:0.5; background-color:lightblue; border:unset" />
                                        </div>



                                    </td>


                                </tr>
                            }
                        }
                        <tr>
                            <th class="text-xl-center" style="position:relative; top:10px; font-size:20px;">
                                <i>  Phases</i>
                            </th>
                        </tr>
                        <tr>
                            <th scope="row" style="position:relative; left:20px; top:10px;">Phase 1</th>

                            <td>
                                <div class="form-check" style="position:relative; left:120px; top:12px;">
                                    <input class="form-check-input" type="checkbox" name="1" value="1" id="flexCheckDefault" style="position:relative; left:-130px">
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row" style="position:relative; left:20px; top:10px;">Phase 2</th>

                            <td>
                                <div class="form-check" style="position:relative; left:120px; top:12px;">
                                    <input class="form-check-input" type="checkbox" name="2" value="2" id="flexCheckDefault" style="position:relative; left:-130px">
                                </div>
                            </td>

                        </tr>

                        <tr>
                            <th scope="row" style="position:relative; left:20px; top:10px;">Phase 3</th>

                            <td>
                                <div class="form-check" style="position:relative; left:120px; top:12px;">
                                    <input class="form-check-input" type="checkbox" name="3" value="3" id="flexCheckDefault" style="position:relative; left:-130px">
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <input type="submit" name="1st" value="Filter" class="btn btn-outline-info" style="width:80px; position:relative;  top:20px; left:32px" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br />
                            </td>
                        </tr>
                    </table>
                </div>
            }
        }
    }
</div>

<div style="position:relative; top:-510px;">
    <div class="container" style="border-bottom:solid; text-align:center; width:800px; position:relative; left:0px">
        <header class="accordion-header mb-1" style="font-size:xx-large; color:lightsteelblue"><i>Contests</i></header>
    </div>
    <br />
    <br />
    <div class="interior container clearfix" style="border:none">

        <div class="row">
            @{
                foreach (var item in Model.CardsModels)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox">
                        <div class="card" style="z-index:999">
                            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                                <a href="javascript:;" class="d-block">
                                    <img src="@item.Profile" class="img-fluid border-radius-lg" style="height:200px; width:320px">
                                </a>

                            </div>

                            <div class="card-body m-n3">

                                <p class="card-description mb-1">
                                    @item.Description
                                </p>

                                @if (User.IsInRole("Admin"))
                                {
                                    <a asp-action="ContestsInside" asp-controller="Admin" asp-route-id="@item.Name" class="text-info icon-move-right ">
                                        Read More
                                        <i class="fas fa-arrow-right text-sm" aria-hidden="true"></i>
                                    </a>
                                }

                                else if (User.IsInRole("User"))
                                {
                                    <a asp-action="ContestsInside" asp-controller="HomeSignIn" asp-route-id="@item.Name" class="text-info icon-move-right ">
                                        Read More
                                        <i class="fas fa-arrow-right text-sm" aria-hidden="true"></i>
                                    </a>
                                }

                                else
                                {
                                    <a asp-action="ContestsInside" asp-controller="Home" asp-route-id="@item.Name" class="text-info icon-move-right ">
                                        Read More
                                        <i class="fas fa-arrow-right text-sm" aria-hidden="true"></i>
                                    </a>
                                }

                                <div class="author align-items-center">
                                </div>
                            </div>
                        </div>
                        <div class="shadow p-3 mb-5 bg-light rounded" style="height:40px; z-index:999; width:155px; position:relative; top:-112px; left:178px; opacity:0.8">Join till: @item.EndDate.ToShortDateString()</div>
                    </div>
                }
            }
        </div>

    </div>
</div>

<div class="container" style="position:relative; left:960px; top:-20px">
    @Html.PagedListPager((IPagedList)Model.CardsModels, page => Url.Action("UserContests", new { page = page }),
        new X.PagedList.Mvc.Common.PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            ContainerDivClasses = new[] { "navigation" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
        })
</div>