﻿<div class="container" style="height:100px; width:400px; position:relative; bottom:40px;">
    <div class="row" style="border-bottom:solid; text-align:center;">
        <header class="accordion-header mb-1" style="font-size:xx-large; color:lightsteelblue">Choose the Categories that you like</header>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div>
                <a href="javascript:;">
                    <div class="card card-background move-on-hover" style="border:none; height:300px">
                        <div class="full-background" style="background-image: url('https://images.unsplash.com/photo-1521620112244-f1d36327c766?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1300&amp;q=80')"></div>
                        <div class="card-body pt-12 text-center" style="position:relative; top:-100px;">
                            <h4 class="text-white">Search and Discovery</h4>
                            <p>Website visitors today demand a frictionless user expericence — especially when using search. Because of the hight standards.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm">
            <div>
                <a href="javascript:;">
                    <div class="card card-background move-on-hover" style="border:none; height:300px">
                        <div class="full-background" style="background-image: url('https://images.unsplash.com/photo-1521620112244-f1d36327c766?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1300&amp;q=80')"></div>
                        <div class="card-body pt-12 text-center" style="position:relative; top:-100px;">
                            <h4 class="text-white">Search and Discovery</h4>
                            <p>Website visitors today demand a frictionless user expericence — especially when using search. Because of the hight standards.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm">
            <div>
                <a href="javascript:;">
                    <div class="card card-background move-on-hover" style="border:none; height:300px">
                        <div class="full-background" style="background-image: url('https://images.unsplash.com/photo-1521620112244-f1d36327c766?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1300&amp;q=80')"></div>
                        <div class="card-body pt-12 text-center" style="position:relative; top:-100px;">
                            <h4 class="text-white">Search and Discovery</h4>
                            <p>Website visitors today demand a frictionless user expericence — especially when using search. Because of the hight standards.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

<br />

<p>Load More</p>