﻿@model ContestCardModel
@using X.PagedList.Mvc.Core
@using X.PagedList


<div style="">
    <partial name="NavBar" />
</div>



<div class="row">
    <div class="col-lg-7 mx-auto text-white text-center pt-5">
        <h1 class="display-4">Contest info</h1>
        <h6>@Model.Name</h6>

    </div>
</div><!-- End -->


<div class="row">
    <div class="col-6 mx-auto">

        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="container-fluid" style="height:350px; width:600px;">
                <img src="@Model.Profile" style="height:390px; width:900px; position:relative; left:-165px;">
            </div>
            <div class="media align-items-end profile-header">

                <div class="media-body mb-5 text-white">

                </div>
            </div>


            <div class="bg-light p-4 d-flex justify-content-lg-start text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block" style="font-size:17px; color:lightslategrey">@Model.PhotosCount</h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Photos</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block" style="font-size:17px; color:orangered">@Model.ParticipantLimit</h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Capacity</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block" style="font-size:17px; color:lightslategrey">@Model.Category</h5><small class="text-muted"> <i></i>Category</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block" style="font-size:17px; color:darkseagreen">@Model.StartDate.ToShortDateString()</h5><small class="text-muted"> <i></i>Start Date</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block" style="font-size:17px; color:orangered">@Model.EndDate.ToShortDateString()</h5><small class="text-muted"> <i></i>End Date</small>
                    </li>

                </ul>
            </div>

            <div class="py-4 px-4">


                <div class="py-4">
                    <h5 class="mb-3">Description</h5>
                    <div class="p-4 bg-light rounded shadow-sm">
                        <p class="font-italic mb-0">@Model.Description</p>
                        <ul class="list-inline small text-muted mt-3 mb-0">
                        </ul>
                    </div>
                </div>

                <label class="btn-outline-info">You should be logged in to Join the Contest!</label>

            </div>
        </div><!-- End profile widget -->

    </div>
</div>

<br />


<div class="container">
    <div class="row">

        @foreach (var item in (PagedList<PhotoModel>)ViewData["listphotos"])
        {


            <!--Grid column-->
            <div class="col-md-4 ">
                @if ((string)ViewData["Rank"] == "ent")
                {
                    <a>
                        <img src="@item.PhotoLink" alt="" style="height:370px; width:350px;">
                    </a>
                }
                else
                {
                    <a>
                        <img src="@item.PhotoLink" alt="" style="height:370px; width:350px;">
                    </a>
                }
            </div>
        }


    </div>
</div>

<br />
<br />
<br />
<div style="position:relative; left:1560px; top:-20px">
    @Html.PagedListPager((IPagedList)ViewData["listphotos"], page => Url.Action("ContestsInside", new { page = page }),
        new X.PagedList.Mvc.Common.PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            ContainerDivClasses = new[] { "navigation" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
        })
</div>