﻿

@inject Microsoft.AspNetCore.Identity.SignInManager<PhotoContest.Data.Models.User> Signinmanager
@inject Microsoft.AspNetCore.Identity.UserManager<PhotoContest.Data.Models.User> UserManger
@model IndexModel

<link href="~/css/StyleSheetLoadMore.css" rel="stylesheet" />

<!-- Modal -->
<div class="modal fade" id="exampleModalSignUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-primary text-gradient">Sign in</h3>
                        <p class="mb-0">Enter your email and password</p>
                    </div>
                    <div class="card-body pb-3">
                        <form accept-charset="UTF-8" role="form" asp-action="Index" asp-controller="Home">
                            <fieldset>
                                <label>Email</label>
                                <div class="form-group mb-3">
                                    <input type="email" class="form-control" placeholder="Email" asp-for="@Model.Email">
                                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                </div>
                                <label>Password</label>
                                <div class="form-group mb-3">
                                    <input type="password" class="form-control" placeholder="Password" asp-for="@Model.Password">
                                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                </div>
                                <div class="form-check form-check-info text-left">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked="">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        I agree the <a href="javascrpt:;" class="text-dark font-weight-bolder">Terms and Conditions</a>
                                    </label>
                                </div>
                                <br />
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Sign In</button>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<div style="text-align:center; color:antiquewhite; opacity:0.6; font-size:xx-large;  position:relative; top:240px;">Explore The world.</div>

<div>
    <partial name="NavBar" />

</div>

<div class="bg-image"
     style="background-image: url('1837064.jpg');
        
        height: 25vh;">
</div>

<br />


<div>
    <partial name="LoadMoreUnsigned" />

</div>


<div >
    <partial name="UserCarousel" />

</div>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="~/js/JavaScriptLoadMore.js"></script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
























