﻿@inject Microsoft.AspNetCore.Identity.SignInManager<PhotoContest.Data.Models.User> Signinmanager
@inject Microsoft.AspNetCore.Identity.UserManager<PhotoContest.Data.Models.User> UserManger

@if (Signinmanager.IsSignedIn(User))
{
    <div>
        <partial name="NavBarUpdated" />

    </div>
}
@if (!Signinmanager.IsSignedIn(User))
{
    <div>
        <partial name="NavBar" />

    </div>
}



<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>

<link href="~/assets/Error.css" rel="stylesheet" />
<div class="mainbox">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">4</div>
    <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?<p>Let's go <a asp-action="Index" asp-controller="Home" >home</a> and try from there.</p></div>
</div>
