﻿@model RegisterModel


<div style="">
    <partial name="NavBar" />
</div>


<div class="signup-form" style="position:relative; top:150px; width:900px; left:500px;">
    <form asp-controller="Home" asp-action="Register" method="post">
        <h2>Register</h2>
        <p class="hint-text">Create your account. It's free and only takes a minute.</p>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                </div>

            </div>
        </div>
        <div class="form-group">

            <input type="email" class="form-control" asp-for="@Model.Email" placeholder="Email" required="required">
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <div class="form-group">

            <input type="password" class="form-control" asp-for="@Model.Password" placeholder="Password" required="required">
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" placeholder="Confirm Password" required="required">
            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
    </form>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}